{% extends "base.html" %}


{% block content %}

    {% for name, data in campaigns.items %}
        {% if data.ordered %}
            <div class="row">
                <div class="well well-sm">
                    <h4><strong>{{ name }}</strong></h4><br>
                    <strong>Average discount {{ data.average_percent }} %</strong>
                </div>
            </div>
            <div class="row">
                {% for product in  data.ordered %}
                    <div class="col-4">
                        <div class="item  list-group-item">
                            <div class="thumbnail">
                                <img class="group list-group-image"
                                     style="display: block; max-width: 100%; height: auto;"
                                     src="{{ product.image }}" alt=""/>
                            </div>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    {{ product.name }}</h4>
                                {#                                <p class="group inner list-group-item-text">#}
                                {#                                    <a href="{{ product.url }}"><strong>Zobacz na stronie</strong></a>#}
                                {#                                </p>#}
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                            <strong>{{ product.sale }}</strong>
                                            <small style="text-decoration: line-through">{{ product.price }}</small>
                                            <br>
                                            <strong> Taniej o {{ product.sale_percentage }} %!</strong>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success" href="{{ product.url }}">Sprawdź</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter > 0  and forloop.counter|divisibleby:3 %}</div>
                        <div class="row">{% endif %}
                {% endfor %}
                </div>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
